<!-- MENU -->
<div class="menu" id="menu" [class.open]="menuOpen">
  <div class="title-logo">
      SLACA 2019
  </div>

  <img src="../assets/logo.png" alt="logo" class="logo">

  <ul>
    <li class="item-menu">Apresentação</li>
    <hr>
    <li class="item-menu">Comitês</li>
    <hr>
    <li class="item-menu">Autores</li>
    <hr>
    <li class="item-menu">Eixos temáticos</li>
    <hr>
    <li class="item-menu selected">Trabalhos</li>
    <hr>
    <li class="item-menu">Contato</li>
    <hr>
  </ul>
</div>
<!-- END MENU -->

<!-- MAIN -->
<div class="content" role="main" id="main">
  <div id="required-elements">
    
    <!-- TÍTULO -->
    <div class="topTitle">

      <!-- ESQUERDA DO TÍTULO -->
      <div class="leftSideTitle">
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
        <h4>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h4> 
        <p>ISSN: 1234-5678</p>
      </div>
      <!-- END ESQUERDA DO TÍTULO -->


      <!-- DIREITA DO TÍTULO -->
      <div class="rightSideTitle">

        <!-- ABRIR MENU -->
        <button *ngIf="showMenuBtn" class="menu-toggle" id="menu-toggle" (click)="toggleMenu($event)">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <!-- END ABRIR MENU -->
        
        <!-- BOX IDIOMA -->
        <div class="language">
          <img src="../assets/language_image.png" alt="">
          PT, BR
          <img src="../assets/dropdown.png" alt="">
        </div>
        <!-- END BOX IDIOMA -->

        <!-- BOX LOGIN -->
        <div class="loggedIn">
          <div class="textWelcome">Bem Vindo!<br>
            alguem12@galoascience.com</div>
          <img src="../assets/profile.png" alt="" class="imgProfile">
        </div>
        <!-- END BOX LOGIN -->

      </div>
      <!-- END DIREITA DO TÍTULO -->

    </div>
    <!-- END TÍTULO -->


    <!-- TÓPICO PRINCIPAL -->
    <div class="mainTopic">
      
      <!-- ESQUERDA DO TÓPICO PRINCIPAL -->
      <div class="leftSideMain">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>
        <video src="../assets/video_overlay.mp4" class="video" controls>
          Seu navegador não suporta a tag video.
        </video>
      </div>
      <!-- END ESQUERDA DO TÓPICO PRINCIPAL -->

      <!-- DIREITA DO TÓPICO PRINCIPAL -->
      <div class="rightSideMain">
        <div class="icons">
          <img src="../assets/download_button.png" alt="download_button" class="download_button">
          <img src="../assets/favorite_button.png" alt="favorite_button" class="favorite_button">
          <img src="../assets/doi_button.png" alt="doi_button" class="doi_button">
        </div>
          <p>COMO CITAR ESSE TRABALHO?</p>

          <div class="cardDetails">
            <div class="titleCard">
              Detalhes
            </div>

            <div class="contentDetails">
              Tipo de Apresentação: <strong>Pôster</strong><br>
              Eixo temático: <strong>Alimentação e saúde (AS)</strong> <br>
              Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong><br><br>
  
              <strong>Autores:</strong><br>
              Galileo Galilei¹<br>
              Berta Lange de Morretes²<br>
              Isaac Newton³<br>
              Cesar Lattes¹<br>
              Stephen Hawking<br><br>
  
              <div style="color: #8d8d8d;">
                ¹Universidade Estadual de Campinas<br>
                ²Universidade de São Paulo<br>
                ³Instituto Nacional de Pesquisas Espaciais<br>
                ⁴Universidade Federal do Rio de Janeiro<br>
              </div>
            </div>
            
          </div>
      </div>
      <!-- END DIREITA DO TÓPICO PRINCIPAL -->
      
    </div>
    <!-- END TÓPICO PRINCIPAL -->

   
    <!-- CARD DE RESUMO -->
    <div class="cardResume" >
      <div class="titleCard">Resumo</div>
      <div class="contentResume" [class.expanded]="showFullText">
        <p>
          {{ firstParagraph }}
          <span class="btn-show-more" (click)="toggleText()" *ngIf="!showFullText">ver mais...</span>
        </p>
        <div class="remainingText">
          {{ remainingText }}
        </div>
      </div>
    </div>
    <!-- END CARD DE RESUMO -->


    <!-- CARD DE DISCUSSÕES -->
    <div class="cardDiscussions">
      <div class="titleCard">Discussões</div>
      <div class="contentDiscussions">
        <div *ngIf="!createTopicForm" class="centralize">

          <h2>{{topicSended ? 'Seu tópico foi enviado com sucesso! :D': 'Compartilhe suas ideias ou duvidas com os autores'}}</h2>

          <div class="icons" *ngIf="!topicSended">
            <img src="../assets/icone1.png" alt="icone1">
            <img src="../assets/icone2.png" alt="icone2">
            <img src="../assets/icone3.png" alt="icone3">
          </div>

          <p>{{topicSended? 'Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!':'Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!'}}</p>

          <a href="#" *ngIf="topicSended">Descubra outros trabalhos!</a>

        </div>

        <button *ngIf="!createTopicForm" class="btn-create-topic" (click)="createTopic()">{{topicSended ? 'criar novo tópico': 'criar tópico'}}</button>


        <div *ngIf="createTopicForm" class="createTopic">
          <form #topicForm="ngForm">
            <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
            <h2 class="topicTitle">Assunto</h2>
            <input type="text" class="subject" name="topicTitle" placeholder="Defina um tópico sucinto para notificar os autores..."
                   [(ngModel)]="topicTitle" required>
            <h2 class="topicTitle">Conteúdo</h2>
            <textarea class="writeContent" name="topicDescription" [(ngModel)]="topicDescription" required></textarea>
            <div class="submitDiv">
                <button class="submit" (click)="sendTopic()">Enviar</button>
            </div>
          </form>        
        </div>

        <hr>

          <!-- CARD DE PERGUNTAS -->
          <div *ngFor="let topic of topics" class="answered-topic" (click)="toggleOpenTopic(topic)">
              <div class="blur" *ngIf="!topic.answered">
                <img src="../assets/waiting.png" alt="waiting" class="waiting">
                
                <h3>Aguardando feedback dos autores</h3>

                <button class="editButton" (click)="editTopic(topic)">Editar tópico</button>
              </div>
              <div class="contentQuestions">
                <h2 class="ops-topic-subject">{{topic.title}}</h2>

                <h3>{{topic.author}}</h3><br>

                <p>{{topic.description}}</p>

                <div class="feedbacks">
                  <img src="../assets/mais_infos.png" alt="mais_infos" class="mais_infos">
                  <img src="../assets/favoritar.png" id="favoritar" alt="favoritar" class="favoritar" (click)="giveLike(topic); $event.stopPropagation()">
                  <p class="likeReplies">{{topic.likes}} likes</p>
                  <p class="likeReplies">{{topic.replies.length}} respostas</p>
                </div>

                <!-- RESPOSTAS -->
                <div class="comments-container">
                  <div *ngIf="topic.open">
                    <div *ngFor="let reply of topic.replies; let i = index" class="reply"
                    [ngStyle]="{'background-color': i % 2 === 0 ? '#E7E7E7' : '#FFFFFF'}">
                      <h3>{{reply.author}}</h3>
                      <p>{{reply.description}}</p>

                      <div class="replyType">
                        <h3>{{reply.type}}</h3>
                        <img src="../assets/replyType.png" alt="replyType" *ngIf="reply.type.length > 1">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END RESPOSTAS -->
            </div>
          </div>
          <!-- END CARD DE PERGUNTAS -->

          
      </div>
    </div>
    <!-- END CARD DE DISCUSSÕES -->


    <!-- FOOTER -->
    <img src="../assets/footer.png" alt="footer" class="footer" (click)="goToUndefined()">
    <!-- END FOOTER -->

    
