<!-- MENU -->
<div class="menu">
  <div class="title-logo">
      SLACA 2019
  </div>

  <img src="../assets/logo.png" alt="logo" class="logo">

  <ul>
    <li class="item-menu">Apresentação</li>
    <hr>
    <li class="item-menu">Comitês</li>
    <hr>
    <li class="item-menu">Autores</li>
    <hr>
    <li class="item-menu">Eixos temáticos</li>
    <hr>
    <li class="item-menu selected">Trabalhos</li>
    <hr>
    <li class="item-menu">Contato</li>
    <hr>
  </ul>
</div>
<!-- END MENU -->

<!-- MAIN -->
<div class="content" role="main">
  <div id="required-elements">
    
    <!-- TÍTULO -->
    <div class="topTitle">

      <!-- ESQUERDA DO TÍTULO -->
      <div class="leftSideTitle">
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
        <h4>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h4> 
        <p>ISSN: 1234-5678</p>
      </div>
      <!-- END ESQUERDA DO TÍTULO -->


      <!-- DIREITA DO TÍTULO -->
      <div class="rightSideTitle">
        <!-- BOX IDIOMA -->
        <div class="language">
          <img src="../assets/language_image.png" alt="">
          PT, BR
          <img src="../assets/dropdown.png" alt="">
        </div>
        <!-- END BOX IDIOMA -->

        <!-- BOX LOGIN -->
        <div class="loggedIn">
          <div class="textWelcome">Bem Vindo!<br>
            alguem12@galoascience.com</div>
          <img src="../assets/profile.png" alt="" class="imgProfile">
        </div>
        <!-- END BOX LOGIN -->

      </div>
      <!-- END DIREITA DO TÍTULO -->

    </div>
    <!-- END TÍTULO -->


    <!-- TÓPICO PRINCIPAL -->
    <div class="mainTopic">
      
      <!-- ESQUERDA DO TÓPICO PRINCIPAL -->
      <div class="leftSideMain">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>
        <img src="../assets/vídeo_overlay.png" class="video">
      </div>
      <!-- END ESQUERDA DO TÓPICO PRINCIPAL -->

      <!-- DIREITA DO TÓPICO PRINCIPAL -->
      <div class="rightSideMain">
        <div class="icons">
          <img src="../assets/download_button.png" alt="download_button" class="download_button">
          <img src="../assets/favorite_button.png" alt="favorite_button" class="favorite_button">
          <img src="../assets/doi_button.png" alt="doi_button" class="doi_button">
        </div>
          <p>COMO CITAR ESSE TRABALHO?</p>

          <div class="cardDetails">
            <div class="titleCard">
              Detalhes
            </div>

            <div class="contentDetails">
              Tipo de Apresentação: <strong>Pôster</strong><br>
              Eixo temático: <strong>Alimentação e saúde (AS)</strong> <br>
              Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong><br><br>
  
              <strong>Autores:</strong><br>
              Galileo Galilei¹<br>
              Berta Lange de Morretes²<br>
              Isaac Newton³<br>
              Cesar Lattes¹<br>
              Stephen Hawking<br><br>
  
              <div style="color: #8d8d8d;">
                ¹Universidade Estadual de Campinas<br>
                ²Universidade de São Paulo<br>
                ³Instituto Nacional de Pesquisas Espaciais<br>
                ⁴Universidade Federal do Rio de Janeiro<br>
              </div>
            </div>
            
          </div>
      </div>
      <!-- END DIREITA DO TÓPICO PRINCIPAL -->
      
    </div>
    <!-- END TÓPICO PRINCIPAL -->

    <!-- CARD DE RESUMO -->
    <div class="cardResume" (click)="toggleText()">
      <div class="titleCard">
        Resumo
      </div>

      <div class="contentResume">
        <p>
          {{ firstParagraph }}
          <span class="lerMais" *ngIf="!showFullText">Ler mais...</span>
        </p>


        <div *ngIf="showFullText">
            {{ remainingText }}
        </div>

      </div>
      
    </div>
    <!-- END CARD DE RESUMO -->
    
    <h3>O elemento de expandir resumo precisa ter a classe .btn-show-more</h3>
    <a href="#" class="btn-show-more">ver mais</a>

    <h3>O elemento de criar tópico precisa ter a classe .btn-create-topic</h3>
    <a href="#" class="btn-create-topic">criar tópico</a>

    <h3>O card que contém um tópico respondido precisa ter a classe .answered-topic, o assunto do tópico deve ter a classe .ops-topic-subject</h3>
    <div class="answered-topic">
      <h4 class="ops-topic-subject">Título do tópico</h4>
    </div>
    <div class="comments-container">
      Os comentários de um tópico devem estar encapsulados num elemento com a classe .comments-container
    </div>

    <form>
      Assunto:
      <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
      Conteúdo:
      <!-- <input> -->
      <button>Enviar</button>
    </form>

    <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>
  </div>
</div>
<!-- END MAIN -->
